{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-scope" content="profile email">
{#<meta name="google-signin-client_id" content="584520355863-eng6ckiru74jdjbnbrvq8afc5ld3b1k9.apps.googleusercontent.com">#}
    <meta name="google-signin-client_id" content="110448409460-2vm0cnh7pdo6i2o30rac7929413vl1tm.apps.googleusercontent.com">
    <title>
        {% block title %}NOS-UNE.net{% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/priyo.css' %}?v=114">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
<div class="page-wrapper chiller-theme toggled">

    <!-- Sidebar -->
    {% include "includes/sidebar.html" %}
    <!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <main class="page-content">
    <div class="container-fluid">
        {% if messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Limited permission!</strong>
                <hr>
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block contents %}{% endblock %}
    </div>
    </main>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
{% include 'includes/js.html' %}
{% block page_script %}{% endblock %}
<script>
    var nav_link = $('.nav').find('li').find("a[data-link='{{ request.path }}']");
    nav_link.parent('li').addClass('active');

    var tab_link = $('.tab-link').find('li').find("a[href='{{ request.path }}']");
    tab_link.parent('li').addClass('active');
    //nav_link.parent('li').parent('ul').parent('li').addClass('active');
</script>
</body>
</html>
